apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: three-tier
  labels:
    role: api
    env: dev
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: backend-mern-tier
        image: 314146307160.dkr.ecr.us-east-1.amazonaws.com/backend-mern-tier:5
        imagePullPolicy: Always        
        env:
          # Explicit secret mapping
          - name: MONGO_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: MONGO_CONNECTION_STRING
          - name: JWT_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: JWT_SECRET_KEY
          - name: CLOUDINARY_API_SECRET
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: CLOUDINARY_API_SECRET
          - name: STRIPE_API_KEY
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: STRIPE_API_KEY
          # Explicit secret mapping
        envFrom:
          - configMapRef:
              name: backend-config
        ports:
        - containerPort: 3000
        resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"        
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 5
        
        readinessProbe:
          httpGet:
            path: /ready
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
        
        startupProbe:
          httpGet:
            path: /started
            port: 3000
          initialDelaySeconds: 0
          periodSeconds: 10
          failureThreshold: 30

  

# Create secret from CLI
# kubectl create secret generic backend-secrets \
#   -n three-tier \
#   --from-literal=MONGO_CONNECTION_STRING="mongodb://mongodb:27017/appdb" \
#   --from-literal=JWT_SECRET_KEY="super-secret-jwt-key" \
#   --from-literal=CLOUDINARY_API_SECRET="cloudinary-secret" \
#   --from-literal=STRIPE_API_KEY="stripe-key"