apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: three-tier
  labels:
    role: api
    env: demo
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: backend-mern-tier
        image: 314146307160.dkr.ecr.us-east-1.amazonaws.com/backend-mern-tier:2
        imagePullPolicy: Always        
        envFrom:
          - configMapRef:
              name: backend-config
          - secretRef:
              name: backend-secrets
        ports:
        - containerPort: 3000
        resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"        
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 5
        
        readinessProbe:
          httpGet:
            path: /ready
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
        
        startupProbe:
          httpGet:
            path: /started
            port: 3000
          initialDelaySeconds: 0
          periodSeconds: 10
          failureThreshold: 30

  